@model musicProject.Models.ArtistModels.ArtistDetail
<form>
    <input asp-for="@Model.Id" hidden />
</form>

<h1>@Model.Name</h1>
<body>
    <h4>Albums:</h4>
    <ol>
        @foreach (var album in Model.Albums)
        {
            <div id="detail">
                <h3>@album.Title</h3>
                <p>@album.Genre</p>
                <p>@album.Released.Year</p>
                <a asp-action="Detail" asp-controller="Album" asp-route-id="@album.Id">Details</a>
                <br />
            </div>
        }
    </ol>
    <hr />
    <a asp-action="Index" asp-controller="Artist">Back To Artists</a> |
    <a asp-action="Index" asp-controller="Album">Back To Albums</a>
</body>