
<div id="actions" class="text-center">
    <h1>My Album Reviews</h1>
    <a asp-action="Create" asp-controller="AlbumReview" class="text-primary">Review An Album</a> |
    <a asp-action="NewIndex">Back to List</a>
</div>

<table>
    <thead>
        <tr>
            <th>Album </th>
            <th>Rating</th>
            <th>Content</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                @* <td><a asp-controller="Album" asp-action="Detail" asp-route-id="@album.Id">@album.AlbumTitle</a></td> *@
                @* ^linked toabum review id, routed to different track than selected *@
                <td>@album.AlbumTitle</td>
                <td>@album.Rating</td>
                <td><a asp-controller="AlbumReview" asp-action="Detail" asp-route-id="@album.Id">Details</a> </td>
                <td><a asp-controller="AlbumReview" asp-action="Update" asp-route-id="@album.Id">Edit</a> </td>
                <td><a asp-controller="AlbumReview" asp-action="Delete" asp-route-id="@album.Id">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>