@model IEnumerable<musicProject.Models.AlbumModels.AlbumListItem>

<h1 class="text-center">Album Reviews</h1>

<div class="text-center" id="actions">
    <a asp-action="Create" asp-controller="AlbumReview" class="text-primary">Review An Album</a> |
    <a asp-action="MyAlbumReviews" asp-controller="AlbumReview" class="text-primary">My Album Reviews</a>
</div>
<input class="form-control" type="text" id="albumTitleR" onkeyup="searchForAlbums()" placeholder="Search for Albums..">

<table id="albumsWithReviews">
    <thead>
        <tr>
            <th>Album </th>
            <th>Artist </th>
            <th>Rating</th>
            <th>All Reviews</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>@album.Title</td>
                <td>@album.Artist.Name</td>
                <td>@album.Rating</td>
                <td><a asp-controller="AlbumReview" asp-action="ReviewsByAlbum" asp-route-id="@album.Id">Reviews</a> </td>
                <td><a asp-controller="AlbumReview" asp-action="Review" asp-route-id="@album.Id">Create Review</a> </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function searchForAlbums() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("albumTitleR");
        filter = input.value.toUpperCase();
        table = document.getElementById("albumsWithReviews");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
