@model musicProject.Models.AlbumModels.AlbumWithReviews

<form>
    <input asp-for="@Model.Id" hidden />
</form>

<div class="text-center">
    <h1><i>@Model.Title</i> Reviews</h1>
    <a asp-controller="AlbumReview" asp-action="Review" asp-route-id="@Model.Id">Review This Album</a> |
    <a asp-action="NewIndex" asp-controller="AlbumReview">Back To List</a>
</div>
<br />
<table>
    <thead>
        <tr>
            <th>Rating</th>
            <th>User</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.AlbumReviews)
        {
            <tr>
                <td>@review.Rating</td>
                <td>@review.User.UserName</td>
                <td><a asp-controller="AlbumReview" asp-action="Detail" asp-route-id="@review.Id">Details</a> </td>
            </tr>
        }
    </tbody>
</table>
